body{
    background-image: url('C:\Users\VARSHA REDDY\Desktop\fake_news\I-Newspaper2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: hsl(0, 4%, 13%);
}
